:root {
    --nen-xam: #f9f9f9;
    --nen-trang: #fff;
    --nen-am: #FCFAF6;
    --mau-bc-16: #45c3d2;
    --mau-sam: #333;
    --mau-chu-dieuhuong: #fff;
    --nen-dieuhuong: var(--mau-bc-16);
    --chieucao-dieuhuong: 60px;
    --mau-duongke: #eee;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: block;
    font: 14px/1.5 'Montserrat', sans-serif;
    outline: none;
    font-stretch: 100%;
}

silde-show {
    width: 100%;
    display: block;
    margin: auto;
}

.khung {
    max-width: 1500px;
    margin: auto;
    width: 90%;
}

header {
    display: flex;
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

header .icon {
    text-align: center;
}

header .icon a {
    text-decoration: none;
    color: black
}

.navbar {
    hieght: 100%;
}

.navbar .icon a {
    padding: 0 !important;
}

.navbar .nav-item {
    margin: 0 20px;
}

header .navbar ul {
    margin-left: 60px;
}

.btn:focus {
    box-shadow: none !important;
}

.nav-link  {
    font-size: 20px !important;
}

header .tim_kiem {
    width: 60%;
    height: 45px;
    border-radius: 30px;
    margin: auto;
    overflow: hidden;
    background: #f7d800;
}

header .tim_kiem .input-tk {
    margin-top: 5px
}

header .tim_kiem .btn {
    background-color: #f7d800;
    border: none;
    margin-top: -20px;
}

header .tim_kiem .btn:hover {
    background-color: white;
    color: red
}

header .tim_kiem .btn:focus {
    box-shadow: none
}

header .tim_kiem .form-control {
    border: none;
    background: #f7d800;
}

header .tim_kiem .form-control:focus {
    box-shadow: none
}

header .menu_right .btn {
    background-color: white;
    color: black;
    border: none;
    /* display:none; */
}

header .menu_right .btn:hover {
    box-shadow: none
}

header .menu_right .btn:focus {
    box-shadow: none
}

.dropdown-content {
    display: none;
    margin-top: 12px;
    position: absolute;
    background-color: #f9f9f9;
    width: 320px;
    box-shadow: 0px 8px 16px 0px #333;
    border: 1px solid #333;
    z-index: 1;
}

.dropdown-content .menu_1 {
    width: 100%;
    height: 50px;
}

.dropdown-content .menu_1 a {
    padding-top: 10px
}

.dropdown-content .menu_1:hover {
    background-color: #333;
}

.dropdown-content .menu_1 a {
    float: none;
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.item_menu:hover .dropdown-content {
    display: block;
}

.accordion-item a {
    color: black
}

.img_cn {
    flex: 50%;
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 200px;
    /* max-width: fit-content */
}

.img_cn img {
    width: 100%;
    height: 170px;
}

.s_truyen_thong {
    height: 350px;
    padding: 0 !important;
}

.s_truyen_thong p img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 230px;
}

.s_truyen_thong h3 {
    margin-bottom: 30px;
}

.dich_vu p img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 200px;
}

.img_bs {
    border-radius:50%;
    width: 65%;
    height:auto;
}

.s_truyen_thong {
    box-shadow: none !important;
}

#testimonials .testimonial-item h3 {
    margin: 15px 0 5px 0 !important;
}

.show_menu {
    display:block !important;
    height: 130px;
}

.thanh_search {
    width:100%;
    height: 50%;
    margin: auto;
    padding:10px 0px;
    display:flex;
}

.border_menu {
    border-top: 1px solid #dfe3eb;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.navbar-light .navbar-nav a:hover {
    color: #45c3d2 !important;
}

.show_menu1 {
    display:none !important;
}

.title .right a {
    font-size: 14px;
    background-color: #ebebeb;
}

.title .right a:hover {
    background: #f7d800;
    color: white;
}

.swiper-slide a:hover h3 {
    color: #45c3d2 !important;
}

.accordion-collapse {
    height: 30px;
    margin-top: 10px;
}

.show_menu_1 {
    display: none !important;
}

.short_icon {
    display:none;
}

@media only screen and (max-width: 1399px) {
    #testimonials .testimonial-item h3 {
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 1224px) {
    .ykien .img_kh img {
        height: 300px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .navbar .nav-item {
        margin: 0px;
    }

    .dich_vu p img {
        width: 100%;
        height: 170px;
    }

    .img_cn img {
        height: 130px;
    }

    .testimonial-item1 h4 {
        font-size: 16px !important;
    }

    .item {
        height: 300px !important;
    }
}

@media only screen and (max-width: 1024px) {

    /* menu, .tim_kiem, .icon { display: none; }
    .icon { display: block; margin: auto; }  */
    menu {
        display: none;
    }

    header .tim_kiem {
        width: 61%;
        height: 40px
    }

    slide-show {
        height: 70% !important;
    }

    slide-show img {
        height: 410px;
    }

    .more ul li a {
        display: none;
    }

    .viewover {
        display: block !important;
    }

    .formhd {
        width: 80% !important;
        margin: auto;
    }

    .detail h1 {
        font-size: x-large;
    }

    .row {
        display: block !important;
    }

    .col-md-8 {
        max-width: 100% !important;
    }

    #dinamicMenu {
        display: none !important;
    }

    .s_truyen_thong p img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 991px) {

    .dich_vu p img {
        width: 100%;
        height: 130px;
    }

    .img_cn img {
        height: 100px;
    }

    .item_cn {
        height: 200px;
    }

    .title .right a {
        margin: -20px 10px 0 0;
    }

    .item {
        height:250px !important;
    }

    header {
        height: 68px;
    }

    header .icon img {
        height: 40px !important;
    }

    .show_menu1 {
        display: block !important;
    }

    .title .right {
        width: auto;
    }

    #testimonials .testimonial-item {
        height: 300px !important;
    }

    .show_menu {
        display: flex !important;
        height: auto;
    }

    .full_icon {
        display:none;
    }

    .short_icon {
        display:block;
    }

    .thanh_search {
        width: 94%;
    }
}

@media only screen and (max-width: 767px) {
    .item {
        height:200px !important;
    }

    .img_bs {
        width: 100%;
    }

    #testimonials .testimonial-item .ten_bs {
        font-size: 14px;
    }

    .dich_vu p img {
        height: 90px;
    }

    .s_truyen_thong p img {
        width: 100%;
        height: auto;
    }

    .s_truyen_thong {
        height: 250px !important;
    }

    #testimonials .testimonial-item {
        height: 250px !important;
    }

    #testimonials .testimonial-item-1 {
        min-height: 200px;
    }

    .thanh_search {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .carousel-item img {
        height: 300px;
    }

    #testimonials .testimonial-item {
        min-height: 380px !important;
    }
}

@media only screen and (max-width: 576px) {
    .dich_vu p img {
        height: 85px !important;
    }

    .swiper {
        height: 400px;
    }

    swiper-slide {
        width: 70%;
    }
}

@media only screen and (max-width: 550px) {
    .carousel-item img {
        height: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .img_cn img {
        height: 230px;
    }

    .item_cn {
        height:350px;
    }
}

@media only screen and (max-width: 450px) {
    slide-show img {
        height: 200px !important;
    }

    .s_truyen_thong p img {
        width: 100%;
        height: 250px;
    }

    .img_cn {
        display: block;
        margin: auto;
        width: 300px;
        height: 200px
    }

    .img_cn img {
        width: 250px;
    }

    .dich_vu p img {
        width: 240px;
    }

    .dich_vu p img {
        height: 150px !important;
    }

    .item {
        height:250px !important;
    }

    .item_cn {
        height:300px;
    }

    .img_cn img {
        height: 150px;
    }

    .testimonial-item1 h4 {
        margin: -10px 0 0 15px !important;
    }

    .thanh_search {
        width: 85%;
    }
}

@media only screen and (max-width: 385px) {
    .img_cn img {
        width: 230px;
        height: 150px !important;
    }
}

@media only screen and (max-width: 350px) {
    .img_cn img {
        width: 210px;
        height: 120px !important;
    }
    
    .img_cn {
        height: 150px;
    }
}

/* end menu */

slide-show {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -20px
}

slide-show img {
    display: block;
    margin: auto;
    max-height:700px;
}

#testimonials .testimonial-item-1 {
    box-sizing: content-box;
    margin: 30px 0px;
    text-align: center;
    min-height: 260px;
}

.item {
    width:100%;
    height:350px;
}

#testimonials .testimonial-item-1 h3 {
    color: black;
    font-size: 18px;
}

#testimonials .testimonial-item {
    min-height: 300px !important;
    margin: 30px 5px 30px 5px !important;
}

.title {
    display: block;
    width: 100%;
    height: 50px
}

.title .left {
    float: left
}

.title .right {
    width: 100px;
    height: 30px;
    float: right
}

.title .right a {
    text-decoration: none
}

content .danhmuc .detail {
    width: 100%;
}

content .danhmuc .detail .hi {
    width: 20%;
    margin: 20px 0 0 30px
}

content .danhmuc .detail .hi a {
    text-decoration: none;
    color: black
}

content .danhmuc .detail .hi a img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 200px;
    /* margin: 10px */
}

content .danhmuc .detail .hi a p {
    font-size: 18px;
    margin: 10px
}

content .danhmuc .detail .hi .bs {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}

content .danhmuc .detail .hi .bs a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 70px
}

content .danhmuc .detail .hi .bs .tt_bs {
    width: 250px;
    margin: 20px 0 0 40px
}

content .danhmuc .detail .hi .bs .tt_bs h4 {
    margin-left: -40px;
}

content .danhmuc .detail .hi .bs .tt_bs p {
    text-align: center;
    margin-left: -15px
}

content .danhmuc .detail .cn {
    width: 40%;
    display: flex;
    margin: 20px 0 0 60px
}

content .danhmuc .detail .cn a {
    display: flex;
    text-decoration: none;
    color: black
}

content .danhmuc .detail .cn a .img_cn img {
    width: 300px;
    height: 200px;
}

content .danhmuc .detail .cn a .title_cn {
    margin-left: 20px
}

content .danhmuc .detail .truyenthong {
    padding: 0px 20px 0px 20px;
    width: 30%;
    display: flex;
}

content .danhmuc .detail .truyenthong a {
    text-decoration: none;
    color: black;
    flex-direction: row;
}

content .danhmuc .detail .truyenthong a img {
    width: 450px;
    height: 300px;
    padding: 10px;
}

content .danhmuc .detail .truyenthong a div {
    justify-content: center;
    text-align: center
}


/*Hỏi đáp*/

.viewover {
    display: flex;
    width: 100%;
}

.view {
    background-color: rgb(241, 234, 235);
    height: auto;
    margin: auto;
    width: 80%;
    display: block;
    padding: 20px 0px 20px 0;
}

.views {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.viewhid {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.formhd {
    width: 30%;
    color: #008ED6;
}

.showform {
    width: 90%;
    margin: auto;
}


/*Danh mục*/

.viewdm {
    background-color: #f9f9f9;
    margin-bottom: 50px;
}

.htdm {
    width: 80%;
    margin: auto;
}

.htdm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.htdm ul li {
    float: left;
    width: 25%;
}

.htdm ul li a {
    text-decoration: none;
    text-overflow: ellipsis;
}

.htdm ul li a:hover {
    color: #333;
}

@media only screen and (max-width: 500px) {
    .htdm {
        width: 95%;
    }

    .img_bs {
        width: 60%;
    }

    .img_cn img {
        height: 170px;
    }

    #testimonials .testimonial-item {
        min-height: 300px !important;
    }

    .item {
        height: 280px !important;
    }

    .dich_vu p img {
        height: 150px !important;
    }

    .htdm ul li {
        width: 50%;
    }

    .htdm ul li a {
        padding: 5px 0px 5px 30px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 13px;
    }

    .thanh_search {
        margin-right: -5px;
    }
}


/*CONTACT SYTLE*/

.form-control,
.btn.submit {
    margin-bottom: 20px;
    border-radius: 0;
    border-color: #555;
    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}

.form-control:focus {
    border-color: #008ED6;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 142, 214, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 142, 214, 0.6);
}

textarea.form-control {
    max-width: 100%;
}

.btn.submit {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    padding-right: 40px;
    padding-left: 40px;
    color: #999;
    z-index: 1;
}

.btn.submit:hover {
    color: #fff;
    border-color: #aaa;
}

.btn.submit:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #008ED6;
    width: 0;
    z-index: -1;
    transition: all .3s;
}

.btn.submit:hover:after {
    width: 100%;
}

address span {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: white;
}

address span .fa {
    color: #008ED6;
    margin-right: 10px;
}

address span a {
    text-decoration: underline;
}

.btn-map {
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn-map:after,
.btn-map:before {
    content: "";
    display: block;
    width: 97%;
    height: 1px;
    background-color: #333;
    margin: 10px auto;
}

.btn-map:hover {
    color: #008ED6;
}

#google_map {
    width: 100%;
    height: 400px;
    display: none;
}

.map-tooltip h2 {
    color: #000;
    font-family: "Raleway";
    font-weight: 700;
}

footer a {
    color: blue;
}


/** end footer **/

.detail {
    width: 100%;
    height: auto;
}

.detail h1 {
    text-align: center;
}

.detail .breadcrumb {
    font-size: 20px;
    margin-top: 20px;
}

/* .more {
    margin-left: 5%;
} */

.more ul {
    list-style-type: none;
}

.more ul li {
    padding: 3%;
    border-bottom: 1px solid #eee;
}

.more ul li a {
    display: flex;
}

.more ul li a img {
    width: 200px;
    height: 120px;
}

.more ul li a p {
    margin: 10px 0 0 20px;
    text-overflow: ellipsis;
}

.detail .chi_tiet {
    margin: 50px 0 50px 0;
}

.detail .chi_tiet img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.detail .chi_tiet h2 {
    text-align: center;
}

.detail .chi_tiet #show {
    margin-top: 50px;
}



.detail .chi_tiet ul li a {
    display: flex;
    width: 100%;
    height: 220px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    /* text-decoration: none; */
}

.detail .chi_tiet ul li img {
    width: 300px;
    height: 200px;
    margin: 0;
}

.detail .chi_tiet ul li p {
    font-size: 28px;
    color: black;
}

.detail .chi_tiet p hover {
    color: white;
}

/*bài viết*/
.detail .article {
    height: auto;
    margin: auto;
    margin-top: 60px;
}

.detail .article .article1 {
    width: 100%;
    height: 200x;

}

.navbar a {
    white-space: normal !important;
}

.detail .article .article1 a {
    display: flex;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .detail .article .article1 a {
        display: block;
        margin: auto;
        text-align: center;
    }

    .y_kien_khach_hang {
        height: auto;
    }

    .detail .article .article1 .article2 {
        width: 200px;
        margin: auto;
    }

    .more {
        margin-left: 0;
    }

    .more ul li a {
        display: block;
        margin: auto;
    }

    .more ul li a .img {
        width: 200px;
        height: 120px;
        margin: auto;
    }

    .more ul li a p {
        margin: 10px 0 0 0px;
        text-align: center;
    }

    .more {
        margin-left: -30px;
    }

    .search {
        width: 100%;
    }

    .search a {
        margin-left: -25px;
    }

    .search a p {
        font-size: 12px;
    }

    .testimonial-item1 h4 {
        margin: 0;
    }

    header .tim_kiem {
        width: 80% !important;
        height: 40px;
    }

}


/*hết bài viết rồi*/

.detail .bac_si {
    margin: 50px 0 50px 0;
    margin: auto;
}

.detail .bac_si img {
    margin-left: 400px;
    width: 700px;
    height: 480px;
}

.detail .bac_si #show {
    margin-top: 50px;
}

.detail .bac_si ul {
    list-style-type: none;
    padding-left: 0;
}

.detail .bac_si ul li a {
    display: flex;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    text-decoration: none;
    padding-top: 10px;
}

.detail .bac_si ul li a text {
    display: block;
    padding: 10px 0 10px 0;
}

.detail .bac_si ul li img {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
}

.detail .bac_si ul li p {
    font-size: 18px;
    color: black;
    margin-left: 15px;
}

.detail .bac_si hr {
    border: 1px solid #eee;
}

/* Pagination css*/

.p_trang {
    max-width: 400px;
    height: auto;
    margin: auto;
    display: -webkit-box;
}

.p_trang ul {
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 10px;
}

.p_trang ul:after {
    clear: both;
}

/* Pagiantion end */


.p_trang ul li {
    /* background: #EEEEEE; */
    width: 35px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin-right: 1px;
}

.p_trang ul li a {
    text-decoration: none;
    color: black;
}

.p_trang ul li:hover {
    background-color: #ddd;
}

.p_trang ul li.active {
    color: white;
    background: #4F4F4F;
}

.p_trang ul li.active a {
    color: white;
}

.detail .chitiet {
    display: flex;
    margin-bottom: 30px;
}

.detail .chitiet .img_bs {
    height: 120px;
    margin-right: 20px;
}

.detail .chitiet .img_bs img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.detail .chitiet .text {
    display: block;
}

.detail .mota {
    border-top: 1px solid black;
}

.slick-track {
    margin-left: 0;
}

.ykien {
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.ykien .tt_kh {
    flex: 50%;
    text-align: center;
    margin: 30px;
}

.ykien .tt_kh img {
    width: 233px;
    height: 233px;
    border-radius: 50%;
}

.ykien .tt_kh .ct_kh {
    margin: 20px 0 0 0;
}

.ykien .img_kh {
    flex: 50%;
    margin: auto;
}

.ykien .img_kh img {
    width: 600px;
    height: 400px;
}

.baiviet {
    font-size: 20px;
}

.baiviet img {
    width: 100%;
}

.baiviet a {
    text-decoration: none;
}

.testimonial-item1 {
    display: flex;
    box-sizing: content-box;
}

.testimonial-item1 h4 {
    flex: 50%;
    margin:0px 0px 0px 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.testimonial-item2 {
    height: 500px;
    box-sizing: content-box;
}

main {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    margin: auto;
}

.nen {
    border-bottom: 3px solid #efeef5
}

.nen-xam {
    background-color: #f5f5f5;
}

.search {
    width: 46%;
    max-height: 650px;
    position: absolute;
    display: none;
    z-index: 20;
    overflow: auto;
    background-color: white;
    top: 65px;
}

.search p {
    flex:80%;
    margin-left: 20px;
}

.search a:hover p{
    color: #45c3d2;
}

.tk_main {
    font-size: 16px;
    z-index: 22;
}

.tk_main h6 {
    margin-bottom: 0px;
}

.lich {
    margin: 0 0 30px 0;
}

.swiper-button-prev,
.swiper-button-next {
    color: black !important;
}

.swiper-button-prev:hover {
    background: white !important;
    color: #45c3d2 !important;
}

.swiper-button-next:hover {
    background: white !important;
    color: #45c3d2 !important;
}

@media only screen and (max-width: 1360px) {
    .navbar .nav-item {
        margin: 0px 8px;
    }
}

@media only screen and (max-width: 1224px) {
    menu {
        display: none;
    }

    header .tim_kiem {
        width: 61%;
        height: 40px
    }

    .ykien {
        width: 100%;
        display: flex;
        margin: auto;
    }

    .ykien .tt_kh {
        flex: 50%;
        text-align: center;
    }

    .ykien .tt_kh img {
        width: 100px;
        height: 100px;
    }

    .ykien .tt_kh .ct_kh {
        text-align: center;
    }

    .ykien .tt_kh .ct_kh p {
        margin: 0 30px;
        text-align: center;
    }

    .ykien .img_kh {
        flex: 50%;
        margin: auto;
    }

    .ykien .img_kh img {
        width: 100%;
        height: 200px;
    }

    .testimonial-item2 {
        height: auto;
    }

    .navbar .nav-item {
        margin: 0px;
    }

    .navbar .nav-item a {
        font-size: 16px !important;
    }

    header .tim_kiem .form-control {
        margin-top: -3px;
    }

    header .tim_kiem .btn {
        margin-top: -24px;
    }

    .search {
        width: 42%;
        height: 400px;
    }
}

@media only screen and (max-width: 1000px) {
    .img_kh {
        display: none;
    }

    .ykien .tt_kh img {
        width: 200px;
        height: 200px;
    }

    main {
        width: 100%;
    }

    .search {
        width: 60%;
        max-height: 400px;
    }

    .slide_show {
        max-width: 1000px;
        height: 300px;
    }

    slide-show {
        height: 300px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    #main {
        font-size: xx-large;
    }

    .title .right a {
        font-size: initial;
    }

    .ykien .tt_kh .ct_kh p {
        font-size: initial;
    }

    .title .right a {
        width: 105px;
    }
}

@media only screen and (max-width: 500px) {
    .testimonial-item1 {
        display: block;
    }

    .ykien .tt_kh img {
        width: 100px;
        height: 100px;
    }

    .slide_show {
        max-width: 600px;
        height: 200px;
    }

    slide-show {
        height: 200px;
    }

    #main h3 {
        font-size: large;
    }

    #main h4 {
        font-size: initial;
    }

    .title .right a {
        font-size: small;
    }

    .title .right a {
        margin-top: -30px;
    }
}

.show_time {
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;
}

.show_time .list {
    margin: 0 25px 10px 0;
}