body {
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529!important;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    height: 60px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border-bottom: 1px solid white;
}

.sidenav a p {
    margin-top: 15px
}

.sidenav a:hover {
    color: #f1f1f1;
}
.col{
    width:25%;
    max-height: 200px;
    padding-top: 10px;
    border-radius: 2px;
    background: rgba(255,255,255,1);
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 14%);
    -webkit-box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 14%);
    color: rgba(0,0,0,.72);
    overflow: hidden;
    cursor: pointer;
}
.col .image{
    height:100px;
    max-width:200px;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
.col .image{

}
.col .title_img{
    background-color: #f8f8f8;
    text-align: center;
}
.col .title_img button{
    width:50px;
    height:30px;
    font-size: 12px;
    margin-bottom: 5px;
}
.col .title_img a{
    width:50px;
    height:30px;
    font-size: 12px;
    margin-bottom: 5px;
}

.title_img h6{
    height:50px;
    overflow: hidden;
}
.main {
    width: 80%;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    margin-left: 20%;
}
.modal{
    width: 100% !important;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: red;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

.navbar {
    width: 100%
}

.avatar {
    width: 200px;
    height: 75px;
    margin-right: 50px;
    display: flex
}

.avatar img {
    width: 75px;
    height: 75px;
    border-radius: 50%
}

.avatar .logout {
    width: 100px;
    height: 40px;
    margin: 15px 0 0 20px
}
.lich .chon_ngay{
    width:300px;
}
.avatar:hover {
}

.content {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px
}

.content p {
    font-size: 30px;
    color: green
}

.title {
    width: 100%;
    height: auto;
    display: block;
    margin: auto
}

.title .add {
    margin: 20px 0 20px 0
}

.card {
    font-size: 16px
}

.logo {
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid white
}

.logo a {
    display: flex;
    border: none
}

.logo .icon {
    width: 50px;
    height: 50px;
}

.logo a h3 {
    margin: 10px 0 0 5px
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: blue;
}

.mul-select {
    width: 100%;
}

.search_admin {
    width: 300px;
    height: auto;
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}

.p_trang {
    max-width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    display: -webkit-box;
}

.p_trang ul {
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 10px;
}

.p_trang ul:after {
    clear: both;
}

/* Pagiantion end */


.p_trang ul li {
    /* background: #EEEEEE; */
    width: 35px;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    margin-right: 1px;
}

.p_trang ul li a {
    text-decoration: none;
    color: black;
}

.p_trang ul li:hover {
    background-color: #ddd;
}

.p_trang ul li.active {
    color: white;
    background:#4F4F4F;
}

.p_trang ul li.active a {
    color: white;
}

.form
{
    display: flex ;
    padding:10px;
}
#input{
    border: 1px solid #d1d3e2;
    border-radius: 6px;
    margin-right: 2%;
}

@media only screen and (max-width: 1024px) {
    .form {
        display: block
    }
}

.modal-mask {
    position: absolute;
    /*z-index: 99;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.act {
    border-radius: 15px;
    padding: 20px;
}

.act input[type=search], select {
    width: 13%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.bt {
    margin: 0 0 10px 0;
    display: flex;
}


#preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview img {
    max-width: 100%;
    max-height: 500px;
}
[v-cloak]{
    display: none
}

.settime_bs{
    width:500px;
    min-height:50px;
    display: block;
    border-bottom: 1px solid black;
}
.settime_bs .top{
    display:flex;
    width:100%
}
.set_bottom .row{
    margin-bottom: 5px
}
.set_bottom label{
    font-size: 13px;
}

.loader{
    width: 100%;
    height: 100%;
    background: #00b8ff;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 100000000000;
    display: none;
    overflow: hidden;
}
.icon{
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
.xoay{
    animation: xoay 1.5s linear infinite;
    -moz-animation: xoay 1.5s linear infinite;
    -ms-animation: xoay 1.5s linear infinite;
    -o-animation: xoay 1.5s linear infinite;
    -webkit-animation: xoay 1.5s linear infinite;
}
@-webkit-keyframes xoay{
    from{
        -ms-transform:rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -ms-transform:rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*@keyframes xoay{
        from{
                -ms-transform:rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
        to{
                -ms-transform:rotate(360deg);
                -moz-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
}*/

.col-active {
    --bs-table-accent-bg: #FAEBD7;
    color: var(--bs-table-active-color);
}

.select_1{
    background-image:none !important;
    width:30px !important;
    padding: 0 !important;
    height:25px !important;
    margin: 0 2px 0 2px !important;
    font-size: 14px !important;
}

.category{
    border-bottom: 2px solid black;
}
.detail_lich{
    border-bottom: 1px solid black;
    height: 35px;
}
.comment-lich td{
    padding: 0 !important;
}